<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Phone</th>
          <th scope="col">Opening Hour</th>
          <th scope="col">Closing Hour</th>
          <th scope="col">License</th>
          <th scope="col">Address</th>
          <th scope="col">City</th>
          <th scope="col">State</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bar of bars; index as i">
          <th scope="row">{{ i }}</th>
          <td><a routerLink="/bar/{{ bar.name }}">{{ bar.name }}</a></td>
          <td>{{ bar.phone }}</td>
          <td>{{ bar.opening_hour }}</td>
          <td>{{ bar.closing_hour }}</td>
          <td>{{ bar.license }}</td>
          <td>{{ bar.address }}</td>
          <td>{{ bar.city }}</td>
          <td>{{ bar.state }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  